body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background-color: #C0C0C0;
	text-align:center;
}

#errythinginside {
	width:auto;
	height:auto;
	margin-right: auto;
	margin-left: auto;
}

#headwinkwink {
	width:auto;
	height:100px;
	background-color: #000000;
	text-align:center;
	overflow: hidden;
}

#headwinkwink h1 {
	color:white;
	text-decoration: none;
}

#main_menu{
 background: gray;
	text-align:center;  
}

#main_menu ul{
    
  display:inline;
  padding: 10px;
  overflow: hidden;
  list-style: none;
  background: gray;
  
}

#main_menu ul li {
  display: inline-block;
  position: relative;
  background: gray;
  padding: 20px;
}

#main_menu ul li a{
    color: white;
    text-decoration: none;
    font-family:Impact, fantasy;
    padding: auto;
}

#entertainmentbody {
	width:auto;
	height:500px;
	text-align:center;
	background-color:#3AD1D1;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

#footer {
	width:auto;
	height:100px;
	background-color:#ffffff;
	overflow: hidden;
}
